*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-- Header--*/

header{
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.peru-flag{
   height: 70%;
}

.logo{
    height: 90%; 
}

/*-- Barra de navegación --*/

nav{
    width: 100%;
    background-color: #4b474a;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
}

.ul-nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 8vh;
    padding: 0;
    margin: 0;
    list-style-type: none;
    align-items: center;
}

.a-nav{
    color: white;
    text-decoration: none;
}

.a-nav:hover{
    text-decoration: underline;
    color: rgb(169, 169, 169);
}

.coti-nav{
    display: flex;
    text-align: center;
    width: 15%;
    box-sizing: border-box;
    background-color: #a42c83;
    border-radius: 20px;
    margin: 2px 0 2px 0;
    justify-content: center;
    align-items: center;
}

.coti-nav:hover{
    background-color: #ab438e;
}

.a-coti-nav{
    color: white;
    text-decoration: none;
}

.a-coti-nav:hover{
    text-decoration: underline;
}

/*-- carrusell --*/

.container-carrusel{
    position: relative;
    width: 100%;
    height: 90vh;
    background-color: #e0e0e0;
    overflow: hidden;
}

.carruseles{
    width: 300%;
    height: 100%;
    display: flex;
}

.slider-section{
    width: calc(100% / 3);
    height: 100%;
}

.btn-left, .btn-right{
    display: flex;
    position: absolute;
    top: 50%;
    background-color: transparent;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0, -50%);
    transition: .5s ease;
}

.btn-left{
    left: 1px;
}

.btn-right{
    right: 1px;
}

/*----- CARRUSEL 1 -----*/
    .background1{
        background-image: url(img-css/carrusel-network.jpg);
        background-size: cover;
    }

    .h2-c1{
        font-family: "Righteous", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 4.5em;
        position: relative;
        color: white;
        top: 16%;
        left: 5.5%;
    }
    .p-c1{
        font-family: "League Gothic", sans-serif;
        font-variation-settings: "wdth" 110;
        font-size: 3em;
        position: relative;
        color: white;
        top: 16%;
        left: 5.5%;
    }
    .section-c1{
        width: 215px;
        height: 9%;
        background-color: #a42c83;
        position: relative;
        top: 18%;
        left: 5.5%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
    }
    .section-c1:hover{
        background-color: #c254a6;
        transition: all ease .6s;
    }
    .section-c1 a{
        color: white;
        font-family: "League Spartan", sans-serif;
        text-decoration: none;
        font-size: 1.2em;
        margin-right: 5px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .section-c1 i{
        color: #ffffff81;
        cursor: pointer;
    }

/*----- CARRUSEL 2 -----*/
    .background2{
        background-image: url(img-css/home_a_hero_d.jpg);
        background-size: cover;
    }

    .h2-c2{
        font-family: "Righteous", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 5em;
        position: relative;
        color: white;
        top: 25%;
        left: 5.5%;
    }
    .p-c2{
        font-family: "Righteous", sans-serif;
        font-variation-settings: "wdth" 110;
        font-size: 3em;
        position: relative;
        color: white;
        top: 25%;
        left: 5.5%;
    }
    .section-c2{
        width: 215px;
        height: 9%;
        background-color: #a42c83;
        position: relative;
        top: 28%;
        left: 5.5%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
    }
    .section-c2:hover{
        background-color: #c254a6;
        transition: all ease .6s;
    }
    .section-c2 a{
        color: white;
        font-family: "League Spartan", sans-serif;
        text-decoration: none;
        font-size: 1.2em;
        margin-right: 5px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .section-c2 i{
        color: #ffffff81;
        cursor: pointer;
    }


/*----- CARRUSEL 3 -----*/
    .background3{
        background-image: url(img-css/carrusel-datacenter.jpg);
        background-size: cover;
    }

    .h2-c3{
        font-family: "Righteous", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 5em;
        position: relative;
        color: white;
        top: 25%;
        left: 8%;
    }
    .p-c3{
        font-family: "Righteous", sans-serif;
        font-variation-settings: "wdth" 110;
        font-size: 3em;
        position: relative;
        color: white;
        top: 25%;
        left: 8%;
    }
    .section-c3{
        width: 215px;
        height: 9%;
        background-color: #a42c83;
        position: relative;
        top: 26%;
        left: 8%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
    }
    .section-c3:hover{
        background-color: #c254a6;
        transition: all ease .6s;
    }
    .section-c3 a{
        color: white;
        font-family: "League Spartan", sans-serif;
        text-decoration: none;
        font-size: 1.2em;
        margin-right: 5px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .section-c3 i{
        color: #ffffff81;
        cursor: pointer;
    }

/*----------- frame2 -----------*/
.main-phrase1{
    height: 33vh;
    background-color: #8c1c6c;
}
.phrase1{
    height: 33vh;
    background-color: #8c1c6c;
    background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.69));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15% 0 15%;
}
.phrase1 p{
    color: white;
    font-family: "Righteous", sans-serif;
    font-size: 2em;
}

/*--- logros ---*/

.logros-container{
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10% 0 10%;
}

.logros{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: calc(100%/3);
}
.logros p {
    font-family: "Righteous", sans-serif;
    font-size: 1.4em;
    padding: 0 20%;
    text-align: center;
    margin-top: 30px;
}
.svg3{
    width: 30%;
    fill: #a42c83;
}

/*----------- frame3 -----------*/

.servicios-container{
    width: 100%;
    height: 92vh;
}

.sevicios-title-background{
    width: 100%;
    height: 20vh;
    background-color: #8c1c6c;
}
.sevicios-title-gradientBackground{
    height: 20vh;
    background-color: #8c1c6c;
    background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.69));
    display: flex;
    align-items: center;
    justify-content: center;
}
.sevicios-title-gradientBackground h2{
    color: white;
    font-family: "Righteous", sans-serif;
    font-size: 3em;
}

/*--- CARDS ---*/

.servicios-cards{
    width: 100%;
    height: 72vh;
    display: flex;
    padding: 0 6% 0 6%;
}
.card{
    display: flex;
    flex-direction: column;
    width: calc(100%/4);
    padding: 4% 3% 4% 3%;
}
.card-p{
    font-family: "League Gothic", sans-serif;
    font-variation-settings: "wdth" 410;
    display: flex;
    justify-content: center; 
    font-size: 2.5em;   
}
.card-img{
    height: 60%;
}
.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-p{
    height: 20%;
    display: flex;
    align-items: center;
}
.card-link-container{
    height: 20%;
    display: flex;
    align-items: center;
    text-align: center;
}
.card-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#8c1c6c;
    margin: 0 8%;
    border-radius: 20px;
    font-family: "League Spartan", sans-serif;
    height: 60%;
}
.card-link:hover{
    background-color: #a84c91;
    transition: all ease .3s;
}
.card-link a{
    color: white;
    text-decoration: none;
    padding-top: 2%;
    margin-right: 5px;
}
.card-link-container img{
    width: 10%;
    cursor: pointer;
}

/*----------- frame4 -----------*/

.cotizacion-container{
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cot-title-container{
    background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.69));
    background-color:#8c1c6c;
    width: 100%;
    height: 50vh;
    position: absolute;
    display: flex;
    align-items: center;
}
.cotizacion-img1{
    width: 50%;
    position: relative;
    left: 40%;
    top: -15%;
}
.cot-request-container{
    width: 12%;
    height: 35%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 12%;
    border-radius: 20px;
    z-index: 1;
    cursor: pointer;
}
.cot-request-container:hover{
    background-color: rgb(220, 220, 220);
    text-decoration: underline;
    transition: all ease 0.3s;
}
.cot-request-container img{
    width: 30%;
}

.cot-request-container a{
    text-decoration: none;
    color: black;
    font-family: "Righteous", sans-serif;
}

.cot-title-container-h2{
    font-family: "Righteous", sans-serif;
    color: white;
    font-weight: 100;
    font-size: 2.1em;
    width: 30%;
    position: absolute;
    left: 10%;
}

/*----------- frame5 -----------*/
.partenrs-container{
    width: 100%;
    height: 90vh;
}

.background-partners{
    background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.69));
    background-color:#8c1c6c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

.background-partners p{
    font-family: "Righteous", sans-serif;
    font-size: 2em;
}

.container-carrusel-partners{
    width: 90%;
    height: 50%;
    background-color: #4b474a;
    margin: auto;
    position: relative;
    top: 15%;
}

.carruseles-partners{
    width: 175%;
    height: 99%;
    display: flex;
    background-color: rgb(255, 255, 255);
}

.partners-carusel-item{
    width: calc(100% / 7);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.partners-carusel-item img{
    width: 100%;
    height: 50%;
}

.huawei img{
    padding: 0;
}

.ubiquiti img{
    padding: 0 20px 0 20px;
}

.starlink img{
    padding: 0 0 0 60px;
}

footer{
    height: 65vh;
    background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.69));
    background-color:#8c1c6c;
}